integracion/src/main/app/colaspush.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <flow name="colaspushFlow">
        <jms:inbound-endpoint queue="${jm.colaPush}" connector-ref="Active_MQ" doc:name="Cola Push"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON a Objeto"/>
        <set-variable variableName="notificacion" value="#[payload]" encoding="UTF-8"  doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	device:{
		abonado:flowVars.notificacion.push.abonado
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="/consultas/consultardevice" method="POST" host="localhost" port="8081" doc:name="Consulta Device Id"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" encoding="UTF-8" doc:name="JSON to Object"/>
        <set-variable variableName="device" value="#[payload.device]" encoding="UTF-8" doc:name="Variable device"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	to:flowVars.device,
	data:{
		origen:flowVars.notificacion.push.abonadoorigen,
		mensaje:flowVars.notificacion.push.mensaje
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Pasarela" path="/fcm/send" method="POST" host="fcm.googleapis.com" port="443" doc:name="Consumo Api Google">
            <http:request-builder>
                <http:header headerName="Authorization" value="key=AIzaSyDR3TxgyVVJeVKwBXVDcHZbswB1LIRfJow"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	codigo:"1",
	mensaje:"Envidado"
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
