integracion/src/main/app/mensatel.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/tcp http://www.mulesoft.org/schema/mule/tcp/current/mule-tcp.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <tcp:connector name="TCP" validateConnections="true" sendBufferSize="0" receiveBufferSize="0" receiveBacklog="0" clientSoTimeout="10000" serverSoTimeout="10000" socketSoLinger="0" doc:name="TCP">
        <tcp:direct-protocol payloadOnly="true"/>
    </tcp:connector>
    <flow name="mensatelFlow">
        <jms:inbound-endpoint queue="${jm.colaMensatel}" connector-ref="Active_MQ" doc:name="Cola Mensatel"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" encoding="UTF-8" doc:name="JSON a Objeto"/>
        <set-variable variableName="mensaje" value="#[payload]" encoding="UTF-8" doc:name="Variable Mensatel"/>
        <component class="mensatel.TCPPayloader" doc:name="Java"/>
        <tcp:outbound-endpoint exchange-pattern="request-response" host="${jm.bphost}" port="${jm.bpport}" connector-ref="TCP" responseTimeout="10000" doc:name="Consumo servicio mensatel TCP"/>
        <dw:transform-message doc:name="Transformador consumo servicio">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	servicio:{
		numeroabonado:flowVars.mensaje.numerodestino	
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="/consultas/servicios" method="POST" host="localhost" port="8081" doc:name="Servicio consulta servicios"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" encoding="UTF-8" doc:name="JSON a Objeto"/>
        <set-payload value="#[payload.servicio]" doc:name="Set Payload"/>
        <collection-splitter doc:name="Collection Splitter"/>
        <choice doc:name="Choice">
            <when expression="#[payload=='3']">
                <dw:transform-message doc:name="Transformador Email">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	email:{
		numeroabonado:flowVars.mensaje.numerodestino,
		asunto:"Mensaje Enviado de $(flowVars.mensaje.abonadoorigen)",
		mensaje:flowVars.mensaje.mensaje
	}
}]]></dw:set-payload>
                </dw:transform-message>
                <object-to-string-transformer doc:name="Objeto a Cadena"/>
                <jms:outbound-endpoint queue="${jm.colaEmail}" connector-ref="Active_MQ" doc:name="Cola notificaciones Email"/>
            </when>
            <when expression="#[payload=='1']">
                <dw:transform-message doc:name="Transformador SMS">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	sms:{
		numeroabonado:flowVars.mensaje.numerodestino,
		asunto:"Mensaje Enviado de $(flowVars.mensaje.abonadoorigen)",
		mensaje:flowVars.mensaje.mensaje
	}
}]]></dw:set-payload>
                </dw:transform-message>
                <object-to-string-transformer doc:name="Objeto a Cadena"/>
                <jms:outbound-endpoint queue="${jm.colaSms}" connector-ref="Active_MQ" doc:name="Cola notificacion Sms"/>
            </when>
            <when expression="#[payload=='2']">
                <dw:transform-message doc:name="Transformador Push">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	push:{
		abonado:flowVars.mensaje.numerodestino,
		abonadoorigen:flowVars.mensaje.abonadoorigen,
		mensaje:flowVars.mensaje.mensaje
	}
}]]></dw:set-payload>
                </dw:transform-message>
                <object-to-string-transformer doc:name="Objeto a Cadena"/>
                <jms:outbound-endpoint queue="${jm.colaPush}" connector-ref="Active_MQ" doc:name="Cola notificaciones Push"/>
            </when>
            <otherwise>
                <dw:transform-message doc:name="Respuesta">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	codigo:"-1",
	respuesta:"No posee servicios suplementarios"
}]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>
    </flow>
</mule>
