integracion/src/main/app/pasareladepago.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:request-config name="HTTP_Pasarela" protocol="HTTPS" doc:name="HTTP Request Configuration"/>
    <flow name="pasareladepagoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/pasareladepago" allowedMethods="POST" doc:name="Endpoint Pasarela de pago"/>
        <json:validate-schema schemaLocation="jsonPasarela.json" doc:name="Validacion esquema JSON"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" encoding="UTF-8" doc:name="JSON a Objeto"/>
        <validation:all doc:name="Validacion campos">
            <validation:validations>
                <validation:is-not-empty value="#[payload.PagarPasarela.fechaexpiracion]" message="#['La fecha de expiracion es incorrecta']"/>
                <validation:is-not-empty value="#[payload.PagarPasarela.descripcion]" message="#['La descripcion es incorrecta']"/>
                <validation:is-number value="#[payload.PagarPasarela.valor]" numberType="DOUBLE" message="#['EL valor es invalido']"/>
                <validation:is-number value="#[payload.PagarPasarela.codigoseguridad]" numberType="INTEGER" message="#['El codigo de seguridad de la tarjeta es incorrecto']"/>
                <validation:is-number value="#[payload.PagarPasarela.numtarjeta]" numberType="LONG" message="#['El numero de la tarjeta es incorrecto']"/>
                <validation:matches-regex value="#[payload.PagarPasarela.numeroabonado]" regex="[0-9]{10}" message="#['El numero del abonado es incorrecto']"/>
            </validation:validations>
        </validation:all>
        <set-variable variableName="pago" value="#[payload.PagarPasarela]" encoding="UTF-8" doc:name="Variable Pago"/>
        <component class="pasarela.PasarelaPayloader" doc:name="Java"/>
        <set-variable variableName="firma" value="#[payload]" encoding="UTF-8" doc:name="Variable Firma"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	email:{
		numeroabonado:flowVars.pago.numeroabonado
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="/consultas/informacionusuario" method="POST" host="localhost" port="8081" doc:name="Servicio consulta informacion usuario"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" encoding="UTF-8" doc:name="JSON a Objeto"/>
        <set-variable variableName="usuario" value="#[payload]" encoding="UTF-8" doc:name="Variable Informacion Usuario"/>
        <choice doc:name="Choice">
            <when expression="#[payload.codigo.equalsIgnoreCase('-1')]">
                <dw:transform-message doc:name="Respuesta">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	codigo:"-1",
	respuesta:"El numero del abonado no posee informacion"
}]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise>
                <dw:transform-message metadata:id="f0dd63d8-5390-4ac4-b2e8-bad5a58245a6" doc:name="Mensaje consumo del servicio">
                    <dw:input-payload/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://bo.eam.edu.com/
---
{
	language: "es",
	command: "SUBMIT_TRANSACTION",
	merchant: {
		apiKey: "4Vj8eK4rloUd272L48hsrarnUA",
		apiLogin:"pRRXKOl8ikMmt9u"	
		},
	transaction: {
		order: {
			accountId: "512321",
			referenceCode: flowVars.firma.referencia,
			description: flowVars.pago.descripcion,
			language: "es",
			signature: flowVars.firma.firma,
			notifyUrl: "http://www.tes.com/confirmation",
			additionalValues: {
				TX_VALUE: {
					value: flowVars.pago.valor,
					currency: "COP"
				}
			},
			buyer: {
				merchantBuyerId: "1",
				fullName: " $(flowVars.usuario.nombre) $(flowVars.usuario.apellido)",
				emailAddress: flowVars.usuario.correo,
				contactPhone: flowVars.pago.numeroabonado,
				dniNumber: flowVars.usuario.documento,
				shippingAddress: {
					street1: "Calle 50",
					street2: "Calle 5",
					city: "Armenia",
					state: "Quindio",
					country: "CO",
					postalCode: "000000",
					phone: "7350394"
				}
			},
			shippingAddress: {
				street1: "Calle 50",
				street2: "Calle 5",
				city: "Armenia",
				state: "Quindio",
				country: "CO",
				postalCode: "0000000",
				phone: "7350394"
			}
		},
		payer: {
			merchantPayerId: "1",
			fullName: " $(flowVars.usuario.nombre) $(flowVars.usuario.apellido)",
			emailAddress: flowVars.usuario.correo,
			contactPhone: flowVars.pago.numeroabonado,
			dniNumber: flowVars.usuario.documento,
			billingAddress: {
				street1: "Calle 50",
				street2: "Calle 5",
				city: "Armenia",
				state: "Quindio",
				country: "CO",
				postalCode: "0000000",
				phone: "7350394"
			}
		},
		creditCard: {
			number: flowVars.pago.numtarjeta,
			securityCode: flowVars.pago.codigoseguridad,
			expirationDate: flowVars.pago.fechaexpiracion,
			name: " $(flowVars.usuario.nombre) $(flowVars.usuario.apellido)"
		},
		extraParameters: {
			INSTALLMENTS_NUMBER: "1"
		},
		type: "AUTHORIZATION_AND_CAPTURE",
		paymentMethod: flowVars.firma.sucursal,
		paymentCountry: "CO",
		deviceSessionId: "vghs6tvkcle931686k1900o6e1",
		ipAddress: "127.0.0.1",
		cookie: "pt1t38347bs6jc9ruv2ecpv7o2",
		userAgent: "Mozilla/5.0 (Windows NT 5.1; rv:18.0) Gecko/20100101 Firefox/18.0"
	},
	test: "false"
}]]></dw:set-payload>
                </dw:transform-message>
                <http:request config-ref="HTTP_Pasarela" path="/payments-api/4.0/service.cgi" method="POST" host="sandbox.api.payulatam.com" port="443" doc:name="Servicio Pasarela de pago"/>
                <json:xml-to-json-transformer encoding="UTF-8" doc:name="XML to JSON"/>
                <object-to-string-transformer encoding="UTF-8" doc:name="Object to String"/>
                <dw:transform-message doc:name="Respuesta">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	codigo:"1",
	state:payload.paymentResponse.transactionResponse.state,
	transactionid:payload.paymentResponse.transactionResponse.transactionId,
	orderid:payload.paymentResponse.transactionResponse.orderId
}]]></dw:set-payload>
                </dw:transform-message>

            </otherwise>
        </choice>

        <choice-exception-strategy doc:name="Excepciones Capturadas">
            <catch-exception-strategy when="#[exception.causeMatches('*JsonSchemaValidationException')]" doc:name="Excepcion estructura JSON">
                <set-payload value="#[exception]" doc:name="Captura del mensaje"/>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	respuesta:{
		codigo:-1,
		respuesta:'Error estructura json'
	}
}]]></dw:set-payload>
                </dw:transform-message>
            </catch-exception-strategy>
            <catch-exception-strategy when="#[exception.causedBy(org.mule.extension.validation.api.MultipleValidationException)]" doc:name="Excepcion en los validadores">
                <set-payload value="#[exception]" doc:name="Captura del mensaje"/>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	respuesta:{
		codigo:-2,
		respuesta:payload.message
	}
}]]></dw:set-payload>
                </dw:transform-message>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
</mule>
