integracion/src/src/main/app/procedimientoregistrousuario.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <db:oracle-config name="Oracle_Configuration" host="${jms.bdhost}" port="${jms.bdpuerto}" instance="${jms.bdinstancia}" user="${jms.bduser}" password="${jms.bdpassword}" doc:name="Oracle Configuration"/>
    <flow name="procedimientoregistrousuarioFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/procedimientos/registrarusuario" allowedMethods="POST" doc:name="Endpoint procedimiento registrar usuario"/>
        <json:validate-schema schemaLocation="jsonRegistrarusuario.json" doc:name="Validacion del esquema JSON"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" encoding="UTF-8" doc:name="JSON a objeto"/>
        <validation:all doc:name="Validacion de campos">
            <validation:validations>
                <validation:is-email email="#[payload.Registrousuario.correo]" message="#['Correo invalido']"/>
                <validation:is-number value="#[payload.Registrousuario.doc]" numberType="LONG" message="#['El documento es incorrecto']"/>
                <validation:is-number value="#[payload.Registrousuario.ciudad]" numberType="LONG" message="#['El valor de la ciudad es invalida']"/>
                <validation:matches-regex value="#[payload.Registrousuario.nombre]" regex="^[a-zA-Z]+$" message="#['El nombre posee un tipo de dato incorrecto']"/>
                <validation:matches-regex value="#[payload.Registrousuario.apellido]" regex="^[a-zA-Z-&#241;&#209;&#225;&#233;&#237;&#243;&#250;]+$" message="#['El apellido posee un tipo de dato incorrecto']"/>
                <validation:matches-regex value="#[payload.Registrousuario.tipodoc]" regex="^[a-zA-Z]+$" message="#['El tipo de documento es invalido']"/>
            </validation:validations>
        </validation:all>
        <db:stored-procedure config-ref="Oracle_Configuration" doc:name="Base de datos Mensatel">
            <db:parameterized-query><![CDATA[{call REGISTRAR_USUARIO(:P_TIPODOC,
						:P_NUMDOC,
						:P_NOMBRE,
						:P_APELLIDO,
						:P_CIUDAD,
						:P_CORREO,
						:P_COD,
						:P_MSJ)}]]></db:parameterized-query>
            <db:in-param name="P_NOMBRE" type="VARCHAR" value="#[payload.Registrousuario.nombre]"/>
            <db:in-param name="P_APELLIDO" type="VARCHAR" value="#[payload.Registrousuario.apellido]"/>
            <db:in-param name="P_TIPODOC" type="VARCHAR" value="#[payload.Registrousuario.tipodoc]"/>
            <db:in-param name="P_CIUDAD" type="VARCHAR" value="#[payload.Registrousuario.ciudad]"/>
            <db:in-param name="P_CORREO" type="VARCHAR" value="#[payload.Registrousuario.correo]"/>
            <db:in-param name="P_NUMDOC" type="VARCHAR" value="#[payload.Registrousuario.doc]"/>
            <db:out-param name="P_COD" type="VARCHAR"/>
            <db:out-param name="P_MSJ" type="VARCHAR"/>
        </db:stored-procedure>
        <json:object-to-json-transformer doc:name="Objeto a JSON"/>
        <choice-exception-strategy doc:name="Excepciones Capturadas">
            <catch-exception-strategy when="#[exception.causedBy(org.mule.extension.validation.api.MultipleValidationException)]" doc:name="Excepcion en los validadores">
                <set-payload value="#[exception]" doc:name="Captura del mensaje"/>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	respuesta:{
		codigo:-2,
		respuesta:payload.message
	}
}]]></dw:set-payload>
                </dw:transform-message>
            </catch-exception-strategy>
            <catch-exception-strategy when="#[exception.causeMatches('*JsonSchemaValidationException')]" doc:name="Excepcion estructura JSON">
                <set-payload value="#[exception]" doc:name="Captura del mensaje"/>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	respuesta:{
		codigo:-1,
		respuesta:'Error estructura json'
	}
}]]></dw:set-payload>
                </dw:transform-message>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
</mule>
