appsim/Proyecto HLR/Ejemplo Mule TCP/blr/src/main/app/blr.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/tcp http://www.mulesoft.org/schema/mule/tcp/current/mule-tcp.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    <flow name="blrFlow">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="30" timeUnit="SECONDS"/>
            <set-payload value="#['Mensaje de prueba para el beeper@00001']" doc:name="Set Payload"/>
        </poll>
        <tcp:outbound-endpoint exchange-pattern="request-response" host="localhost" port="6000" responseTimeout="100000" doc:name="TCP"/>
        <object-to-string-transformer doc:name="Object to String"/>

        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
